/*Katie Greenwood, 12.11.25, WEB114 Final Stylesheet*/
body {font-family: Georgia, serif; background-color: #F5E1F5; color: #8C016A; margin: auto; padding: 10px; text-align: center;}
#quote {color: #A31D83;}
img {width: 30%; height: auto;}